@import url('https://fonts.googleapis.com/css?family=Space+Mono&display=swap');
@import '/web_modules/normalize.css';

body {
  background-color: black;
  color: white;
  font-family: 'Space Mono', monospace;
  line-height: 1.4;
}

main {
  height: 100%;
  margin: auto;
  width: 1400px;
}

button {
  background-color: black;
  color: white;
  font-size: 18px;
  padding: 10px 20px;
  width: 80px;
}

input[type=range] {
  background: black;
  height: 60px;
  width: 170px;
}

input[type=range]::-moz-range-thumb {
  background: white;
  height: 20px;
  width: 20px;
  border-radius: 12px;
  border: none;
}

input[type=range]::-moz-range-track {
  background: white;
}